@import url("../font/font-awesome/css/font-awesome.min.css");

:root {
  --primary: #638b5d;
  --secondary: #256693;
  --white: #fff;
  --bg-primary: #eff3ee;
  --lightgreen: #bdd85a;
  --deepblue: #0b5583;
  --curiousBlue: #1f80bf;
  --gallery: #f0f0f0;
  --mantis: #80c675;
}

* {
  text-align: right;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atlas Regular", arial, tahoma;
}

@font-face {
  font-family: "Atlas Regular";
  src: url("../font/atlas-regular-aaa.woff2") format("woff2");
}

@font-face {
  font-family: "Atlas Medium";
  src: url("../font/atlas-medium-aaa.woff2") format("woff2");
}

@font-face {
  font-family: "Atlas Bold";
  src: url("../font/atlas-bold-aaa.woff2") format("woff2");
}

body {
  font-family: "Atlas Regular", arial, tahoma;
}

.f-reg {
  font-family: "Atlas Regular";
}

.f-med {
  font-family: 'Atlas Medium';
  font-size: 1.6875rem;
}

.f-bold {
  font-family: "Atlas Bold";
}

::placeholder {
  color: #d0d0d0;
  opacity: 1;
  font-family: "Atlas Regular";
}

span {
  font-family: "Atlas Regular";
}

#app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#app-container .app-nav {
  height: 4.4375rem;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--white);
}

.app-nav .mobile-profile {
  display: none;
}

.app-nav .nav-logo2 {
  display: none;
}

.search-d2 {
  display: flex;
  align-items: center;
}

.app-nav .nav-logo,
.search-d2 img {
  width: 9.5rem;
  margin: 0 1rem;
}

#app-container .app-nav .nav-right {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-right .search-d3 {
  background-color: var(--secondary);
  text-align: center;
  padding: 1.25rem 0.75rem;
  color: var(--white);
  margin-left: 0.625rem;
  width: 4.4375rem;
  height: 100%;
}

.nav-right .search-d3 #hamburgerIcon img {
  width: 120%;
}

.nav-right .search-d3 #hamburgerIcon {
  display: block;
  border: none;
  box-shadow: none;
}

.nav-right .search-d3 #close-tag {
  display: none;
  transform: rotate(45deg);
  margin: 0.3125rem auto;
  cursor: pointer;
}

.nav-logo-text {
  padding-right: 0.625rem;
  font-size: 1.125rem;
}

.nav-logo-search {
  padding-right: 0.625rem;
  cursor: pointer;
  height: 1.6875rem;
}

.search-input {
  border: none;
  border-bottom: 0.0625rem solid var(--secondary);
  display: none;
}

.search-input:focus {
  outline: none;
}

.search-div {
  margin: 0 0.75rem;
  padding-right: 0.75rem;
  border-right: 0.0625rem solid rgb(31, 128, 191, 0.5);
  display: flex;
}

.nav-right .search-d1 {
  position: relative;
}

#lang-dropdown {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  padding: 1rem 0.75rem;
  top: 4.875rem;
  right: 3.375rem;
  z-index: 100;
  border: 0.0625rem solid var(--secondary);
  border-radius: 0.625rem;
  font-size: 1.25rem;
  letter-spacing: 0.065rem;
}

#lang-dropdown .lang-items {
  color: #dddd;
  cursor: pointer;
  margin-bottom: 0.4375rem;
  letter-spacing: 0.0625rem;
  text-align: center;
}

#lang-dropdown .i-2 {
  font-size: 1.1875rem;
}

#lang-dropdown .lang-items:hover {
  color: var(--white);
}

#lang-dropdown-tri {
  display: none;
  position: absolute;
  top: 3.75rem;
  border-radius: 0.3125rem;
  right: 5.875rem;
  width: 1.375rem;
  height: 0;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-bottom: 1.375rem solid var(--secondary);
}

#lang-dropdown-btn {
  cursor: pointer;
  height: 0.75rem;
  padding-right: 0.1563rem;
}

#app-content2 {
  height: 100vh;
}

.left-sidebar {
  width: 33%;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 1;
  top: 1.25rem;
  display: none;
}

.left-sidebar .left-sidebar-bg {
  background: url("../images/bg2.png") right top;
  background-repeat: no-repeat;
  background-size: 120%;
  width: 33.1875rem;
}

.body-center .mobile-top-bg {
  background-image: url("../images/bg3.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 15rem;
  display: none;
}

.left-sidebar .left-sidebar-icons ul {
  list-style: none;
  margin-top: 9.375rem;
  margin-left: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.left-sidebar .left-sidebar-icons ul li img {
  width: 1.5rem;
}

.right-sidebar {
  min-width: 12%;
  width: 19.5%;
  padding-left: 1.25rem;
  position: fixed;
  right: 0;
  height: 100vh;
  z-index: 1;
  top: 5.25rem;
  display: none;
}

.right-sidebar-wrapper {
  position: relative;
  height: 100%;
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.right-sidebar span {
  color: var(--secondary);
  font-size: 1.75rem !important;
}

.right-sidebar .arrowImg {
  width: 2.75rem;
  margin-left: 0.5rem;
}

.right-sidebar .link-wrapper {
  list-style: none;
}

.right-sidebar .link-wrapper li {
  margin-top: 1.875rem;
  color: var(--primary);
  font-size: 1.25rem;
  padding-right: 0.5rem;
  max-width: 12.8125rem;
}

.right-sidebar .link-wrapper li:hover {
  font: normal normal medium 1.25rem/2.75rem AtlasPro AAA;
  text-shadow: 0 0 black;
}

.right-sidebar .link-wrapper li:hover::after {
  content: "<";
  padding-left: 0.5rem;
}

.right-sidebar .link-wrapper .active {
  padding: 0.3125rem;
  margin-right: 0.1875rem;
  transition: 0.4s;
  font-size: 1.5625rem;
  width: 12.8125rem;
}

.right-sidebar .link-wrapper .active {
  background-color: var(--primary);
  padding: 0.5rem;
  color: white !important;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--primary);
}

.right-sidebar-logo {
  position: fixed;
  right: 0;
  bottom: 3.375rem;
  margin-bottom: 1.4375rem;
  background-color: var(--secondary);
  height: 4.6875rem;
  width: 6.25rem;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-sidebar-logo span {
  font-size: 0.625rem;
  color: var(--white);
}

.right-sidebar-logo img {
  height: 2.5rem;
  width: 3.75rem;
}

.body-center {
  width: 44.6%;
  position: relative;
  left: 35%;
  top: 5.25rem;
  padding-bottom: 6.25rem;
  padding-top: 1.25rem;
}

.body-center::-webkit-scrollbar {
  display: none;
}

.hyper-links {
  padding-right: 1rem;
}

.hyper-links a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 0.875rem;
}

.inner-h {
  margin-top: 1.875rem;
  color: var(--secondary);
  font-size: 2.5rem;
  padding-right: 1rem;
}

.first-card {
  background-color: var(--bg-primary);
  color: var(--primary);
  padding: 2.0625rem;
  margin-top: 4.1875rem;
  border-radius: 0.625rem;
}

.first-card button {
  padding: 0.625rem 0.875rem;
  border-radius: 0.625rem;
  margin: 0 0.25rem;
  font-size: 1rem;
}

.mobile{
  display: none;
}

#bottom-wrapper {
  width: 100%;
  background: url("../images/map.jpeg") left top no-repeat;
  background-size: 95%;
  position: relative;
  z-index: 3;
}

.desktop-cc {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 1.25rem 5rem;
}

.desktop-cc .right {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.52);
  gap: 1rem;
}

.desktop-cc ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
  padding-bottom: 1.25rem;
}

ul.bd-top {
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.52);
  padding-top: 1.25rem;
}

.desktop-cc ul li {
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.desktop-cc p.bd-left {
  border-left: 0.0625rem solid rgba(255, 255, 255, 0.52);
  padding-left: 1rem;
}

.desktop-cc svg {
  width: 5.6875rem;
  height: 2.75rem;
}

.bottom-card {
  color: var(--white);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3.125rem 2.5rem 1.875rem 2.5rem;
}

#bottom-wrapper {
  position: relative;
  background-color: #266692;
}

#content-wrapper {
  border: 0.0625rem solid var(--primary);
  border-radius: 1.5625rem;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
}

#content-wrapper > .d-flex {
  margin-bottom: 1.875rem;
}

.content-top {
  margin-bottom: 0.625rem;
}

.content-top h2 {
  margin-right: 0.625rem;
  font-size: 1.6875rem;
}

.footer-form-wrapper {
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-form {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 46%;
  max-width: 27.375rem;
  padding: 2.75rem;
  border-radius: 1.25rem;
  justify-content: space-between;
}

.footer-form h2 {
  font-size: 2.5rem;
}

.footer-form button {
  padding: 1.125rem 0;
}

.footer-contact {
  width: 38%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5rem;
}

.footer-contact h2 {
  font-size: 1.875rem;
  display: flex;
}

.footer-contact p.mini {
  font-size: 1rem;
}

.footer-contact p {
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.footer-contact h2 .footer-icon1 {
  margin-left: 0.75rem;
}

.mobile-footer {
  display: none;
}

/* Accordion styling */
.accordion-holder {
  background-color: #f8f8f8;
  border-radius: 0.875rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.625rem;
  transition: 0.4s;
}

.accordion {
  width: 100%;
  color: var(--secondary);
  background: transparent !important;
  cursor: pointer;
  padding: 0.3125rem 1.125rem 0.75rem 1.125rem;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}

.mobile-btn-acc {
  display: none;
}

.accordion .inner-left {
  padding: 0 0.75rem;
  margin-right: 0.75rem;
}

.accordion .f-med {
  font-size: 1.25rem;
}

.accordion.active > #Expand_Item {
  transform: rotate(45deg);
}

.accordion #Expand_Item {
  float: left;
  margin: 2rem 1rem;
  transition: all 0.2s;
}

.accordion .accordion-icon {
  float: left;
  margin-top: 1.5625rem;
}

.accordion-title {
  font-size: 0.75rem;
}

.accordion .markup-icon {
  width: 1.3125rem;
  height: 1.3125rem;
}

.accordion .markup-text {
  font-size: 1rem;
  color: var(--primary);
}

#content-wrapper .active,
.accordion-holder:hover {
  background-color: #ccc;
  color: var(--secondary) !important;
}

.accordion .span3 {
  border-right: 0.0625rem solid #a4bed0 !important;
  padding-right: 0.625rem;
  margin-right: 0.3125rem;
}

#content-wrapper .active {
  border-bottom: none !important;
  background-color: #f8f8f8 !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel {
  background-color: #f8f8f8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: var(--primary);
  opacity: 1;
}

.panel .heading {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.0187rem;
  padding: 0.25rem 0;
}

.panel .heading2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.0187rem;
}

.panel-faceleft {
  padding: 0.3125rem;
  width: 65%;
}

.panel-faceleft .d-flex.col.d-end {
  padding-right: 1rem;
}

.panel-faceleft .panel-bullets-div {
  padding: 0.5rem 1.25rem 0.5rem 0rem;
  margin-bottom: 0.625rem;
}

.panel-faceleft .panel-bullets-dot {
  border: 0.1875rem solid var(--secondary);
  border-radius: 0.6875rem;
  padding: 0.25rem;
}

.panel-faceleft .panel-bullets {
  display: flex;
  flex-direction: row;
  direction: rtl;
  align-items: center;
}

/* .panel-faceleft .panel-bullets p {
  font-size: 11.84px;
} */

.panel-faceleft .pdf-text-div {
  margin-top: 1.25rem;
}

.panel-faceleft .pdf-text-div,
.pdf-text-div2 {
  display: flex;
  justify-content: right;
  border: 0.0625rem solid var(--secondary);
  border-radius: 1.5625rem;
  padding: 0.125rem 0.625rem;
}

.panel-faceright {
  width: 15.625rem;
  border: 0.0313rem solid #25669382;
  padding: 1rem;
  display: flex;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.panel-faceright img {
  width: 6.5rem;
}

.panel-faceright p:nth-child(2),
.panel-faceright p:nth-child(3) {
  text-align: center;
  font-size: 1.25rem;
  text-shadow: 0 0 black;
  color: #256693;
}

.panel-faceright p:nth-child(4) {
  font-size: 1rem;
  opacity: 1;
  text-align: center;
  line-height: 1.5625rem;
}

.p-upload {
  direction: rtl;
  margin-top: 0.75rem;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

.p-upload button {
  padding: 0.75rem;
  border-radius: 1.6875rem;
  width: 12.625rem;
  font-size: 1rem;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-upload button {
  padding: 0.6875rem 0;
  border-radius: 1.6875rem;
  width: 13.4375rem;
  font-size: 1rem;
  margin-right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.p-upload button img {
  width: 1.75rem;
  margin-left: 0.125rem;
}

.p-upload p {
  font-size: 1rem;
  color: var(--secondary);
  padding-right: 1.1875rem;
  font-weight: 600;
}

.p-uploadBtn-div {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 1.6875rem;
  border: 0.0625rem solid #f0f0f0;
  justify-content: space-between;
  width: 80%;
  padding: 0.3125rem;
}

.inner-left {
  border-right: 0.0625rem solid #a4bed0 !important;
  padding-right: 0.5rem;
  margin-right: 0.3125rem;
}

.card {
  height: 6.25rem;
  margin-top: 1.25rem;
  font-size: 0.75rem;
}

.card-footer-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1.25rem;
  font-size: 1rem;
}

.card-footer-wrapper .f-bullets {
  display: flex;
  flex-direction: row;
  direction: rtl;
  align-items: center;
}

.card-footer-wrapper .f-bullets img {
  width: 0.9375rem;
}

.card-footer-wrapper .f-left,
.card .f-left {
  background-color: var(--primary);
  width: 80%;
  padding: 0.625rem;
  color: var(--white);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.card-footer-wrapper .f-left {
  padding: 1.5625rem;
}

.card-footer-wrapper .f-left h3 {
  margin-top: 0.3125rem;
  font-size: 1.25rem;
  font-weight: normal;
}

.card-footer-wrapper .f-left p {
  margin-top: 0.3125rem;
  font-size: 1rem !important;
}

.card-footer-wrapper .f-btn {
  background-color: white !important;
  color: var(--primary);
  padding: 0.25rem 2rem !important;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.0625rem;
}

.card-footer-wrapper .f-right,
.card .f-right {
  background-color: var(--lightgreen);
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card-footer-wrapper .f-right img {
  width: 3.9375rem;
}

.info-img-wrapper .plane-div .plane-img {
  height: 2.75rem;
  position: absolute;
  left: -3.4375rem;
  bottom: -1.375rem;
}

.info-img-wrapper,
.info-img-wrapper-2 {
  position: relative;
  margin-bottom: 10rem !important;
  min-height: 24.375rem;
}

fieldset {
  margin-top: 3.125rem;
  margin-bottom: 6.0625rem;
  border: 0.0625rem solid transparent;
  border-top-color: var(--primary);
  box-sizing: border-box;
  grid-area: 1 / 1;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  height: 3.25rem;
}

.info-img-wrapper-2 fieldset {
  border-top-color: var(--secondary);
  border-left-color: var(--secondary);
  border-right-color: var(--secondary);
}

legend {
  font: 15pt/0 "Atlas Regular";
  margin: auto;
  padding: 0 0.25rem;
  color: var(--primary);
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img-wrapper-2 legend {
  color: var(--secondary);
}

.c-container {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.circle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: -5rem;
  direction: rtl;
}

.circle-wrapper .ci {
  border-radius: 50%;
  background-color: white;
  border: 0.0625rem solid #638b5d;
  width: 11.0625rem;
  height: 11.0625rem;
  margin-bottom: 4.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img-wrapper-2 .circle-wrapper .ci {
  border: 0.0625rem solid var(--curiousBlue);
}

.circle-wrapper .ci-inner {
  /* height: 1.875rem; */
  border-radius: 50%;
  border: 0.25rem solid #638b5d;
  width: 10.5rem;
  height: 10.5rem;
}

.info-img-wrapper-2 .circle-wrapper .ci-inner {
  border: 0.25rem solid var(--curiousBlue);
}

.ci-inner-bottom {
  max-height: 4.375rem;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  color: var(--secondary);
  margin-bottom: 1.25rem;
  padding: 0 0.5rem;
}

.ci-inner-top {
  border-radius: 50%;
  background: var(--primary);
  height: 2.0625rem;
  width: 2.0625rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0 auto;
}

.info-img-wrapper-2 .ci-inner-top {
  background: var(--curiousBlue);
}

.ci-innter-center {
  height: 0.75rem;
}

.c-container svg#Group_91088 {
  display: none;
}

.dotten-div {
  border: 0.1688rem dotted var(--primary);
  height: 7.8125rem;
  border-radius: 3.75rem;
  border-right: 0;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 2.5625rem;
  opacity: 1;
  border-bottom: transparent;
}

.dotten-div::after {
  content: "";
  width: 55%;
  border-radius: 3.75rem 0 0 3.75rem;
  position: relative;
  height: 100%;
  display: block;
  background: #fff;
  border-bottom: 0.1688rem dotted var(--primary);
}

.dotten-div2 {
  border: 0.1688rem dotted var(--primary);
  height: 7.8125rem;
  border-radius: 3.75rem;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 1;
  border-top: transparent;
}

.dotten-div2::after {
  content: "";
  width: 55%;
  border-radius: 0 3.75rem 3.75rem 0;
  position: relative;
  height: calc(100% - 0.1688rem);
  left: 45%;
  display: block;
  background: #fff;
  border-top: 0.1688rem dotted var(--primary);
}

.info-img-wrapper-2 .dotten-div {
  border-color: var(--secondary);
}

.info-img-wrapper-2 .dotten-div2,
.info-img-wrapper-2 .dotten-div,
.info-img-wrapper-2 .dotten-div::after,
.info-img-wrapper-2 .dotten-div2::after {
  border-color: var(--secondary);
}

.footer-icon1 {
  height: 2rem;
}

.text-green .footer-icon1 {
  height: 1.75rem;
}

.footer-line {
  display: none;
  width: 100%;
  background-color: var(--gallery);
}

.hr-line {
  width: 100%;
  border-color: 0.5 solid var(--secondary);
  opacity: 0.4;
}

.third-section {
  margin: 5rem 0;
}

.third-section .f-left {
  background-color: var(--deepblue);
  justify-content: flex-end;
}

.third-section .f-left p {
  font-size: 1rem;
  margin-right: 1rem;
}

.third-section .f-right {
  background-color: var(--curiousBlue);
}

.third-section .f-right img {
  width: 3.9375rem;
}

#s-fourth {
  margin-bottom: 6.25rem;
}

#s-fourth button {
  /* height: 1rem; */
  font-size: 0.6875rem;
  border-radius: 3.125rem;
}

#s-fourth .p1 {
  font-size: 1.6875rem;
}

#s-fourth .p2 {
  font-size: 1.25rem;
}

#s-fourth .f-med {
  font-size: 1.25rem;
}

#s-fourth .inner-div {
  border-right: 0.0938rem solid var(--primary);
  padding-right: 1.25rem;
}

#s-fourth .inner-div .p3 {
  letter-spacing: 0.0313rem;
}

#s-fourth .inner-div .p4 {
  text-decoration: underline;
  letter-spacing: 0.0625rem;
}

#s-fourth .inner-div .radio-btn {
  border-radius: 3.125rem;
  font-size: 1rem;
  padding: 0.375rem 0.875rem;
  line-height: 0.625rem;
  background-color: var(--secondary);
  color: var(--white);
}

#mobile-bottom-tab {
  position: fixed;
  bottom: 0;
  height: 4.25rem;
  width: 100%;
  background-color: var(--white);
  z-index: 4 !important;
  padding-top: 0.4375rem;
  display: none;
  box-shadow: 0rem -0.4375rem 0.375rem #00000036;
  opacity: 1;
}

.bottom-modal-div {
  position: relative;
  display: none;
}

.tab-modal-btn-div {
  justify-content: space-around;
}

.tab-modal-btn-div .btn {
  padding: 0.75rem 1.875rem;
  font-size: 1rem;
  font-weight: 100;
  box-shadow: 0rem 0.1875rem 0.375rem #00000029;
  opacity: 1;
  font: normal normal normal 1rem/0.75rem Regular;
  line-height: 0.75rem;
}

.bottom-tab-modal {
  height: 15.625rem;
  background-color: #ededed;
  position: fixed;
  bottom: 3.125rem;
  width: 100%;
  z-index: 3;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  box-shadow: 0 -0.1875rem 0.375rem #00000045;
  opacity: 1;
  padding: 0.625rem 1.875rem;
}

.bottom-tab-modal .arrImg {
  height: 1.25rem;
  cursor: pointer;
}

.bottom-tab-modal .modal-noteIcon {
  height: 3.125rem;
}

.bottom-tab-wrapper {
  position: relative;
}

.bottom-tab-wrapper .circle {
  height: 3.125rem;
  width: 3.125rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.1875rem;
  left: 45%;
  right: 40%;
  z-index: 4;
  cursor: pointer;
}

.bottom-tab-wrapper .circle .circle-btn {
  height: 1.875rem;
  width: 1.875rem;
  background-color: var(--secondary);
  border-radius: 50%;
}

.bottom-tab-wrapper .tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0.75rem;
}

.bottom-tab-wrapper .tabs .tab-center {
  padding-top: 2rem;
}

/* custom tokens */
.text-primary {
  color: var(--primary);
}

.bg-primary {
  color: var(--primary);
}

.text-secondary {
  color: #256693;
}

.text-green {
  color: var(--mantis);
}

.bg-secondary {
  background-color: #256693 !important;
}

.text-small {
  font-size: 0.75rem !important;
}

.text-medium {
  font-size: 0.9375rem !important;
}

.bold {
  font-weight: bold !important;
}

/* button styling */
.btn {
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  border: none;
  cursor: pointer;
  font-family: "Atlas Regular";
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary-outline {
  color: var(--primary);
  background-color: transparent;
  border: 0.0625rem solid var(--primary);
}

.btn-primary-outline > span {
  border-right: 0.0625rem solid #638b5d85;
  padding-right: 0.375rem;
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
  text-align: center;
}

.btn-secondary-outline {
  color: var(--secondary);
  background-color: transparent;
  border: 0.0625rem solid var(--secondary);
}

.rounded-btn {
  border-radius: 2.5rem;
}

.custom-input {
  height: 3.375rem;
  border-radius: 2.5rem;
  background-color: var(--gallery);
  border: 0.0625rem solid var(--gallery);
  padding-right: 0.625rem;
}

.custom-textarea {
  height: 10.625rem;
  border-radius: 1.25rem;
  background-color: var(--gallery);
  border: 0.0625rem solid var(--gallery);
  resize: none;
  padding: 0.625rem;
}

.link {
  cursor: pointer;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mb-1 {
  margin-bottom: 0.625rem;
}

.mb-0-5 {
  margin-bottom: 0.3125rem;
}

.mb-1-5 {
  margin-bottom: 0.9375rem;
}

.mt-1-5 {
  margin-top: 0.9375rem;
}

.pt-1 {
  padding-top: 0.625rem;
}

.mt-2 {
  margin-top: 1.25rem;
}

.mb-2 {
  margin-bottom: 1.25rem;
}

.mb-3 {
  margin-bottom: 1.875rem;
}

.pt-2 {
  padding-top: 1.25rem;
}

.mr-1 {
  margin-right: 0.625rem;
}

.mr-0-5 {
  margin-right: 0.3125rem;
}

.ml-0-5 {
  margin-left: 0.3125rem;
}

.ml-1 {
  margin-left: 0.625rem;
}

.ml-2 {
  margin-left: 1.25rem;
}

.p-1 {
  padding: 0.625rem;
}

.p-2 {
  padding: 0.625rem;
  padding-right: 1.25rem;
}

.p-2 .d-flex.row {
  margin: 1rem;
  margin-top: 1.125rem;
}

.p-2 .d-flex.row {
  margin-bottom: 0;
  margin-right: 0;
}

.p-2 .d-flex.row.mt-1 {
  margin-right: 0.75rem;
}

.p-2 .text-secondary.f-bold {
  margin: 1rem;
  margin-right: 0.625rem;
}

.p-2 .text-secondary.mb-2 {
  margin-right: 0.625rem;
}

.d-flex.row.d-end img.ml-1{
  margin-left: 1.125rem;
}

.d-flex {
  display: flex !important;
}

.row {
  flex-direction: row !important;
}

.col {
  flex-direction: column !important;
}

.space-between {
  justify-content: space-between;
}

.d-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.d-center {
  justify-content: center;
}

.d-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.spacing-1 {
  letter-spacing: 0.0625rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-12 {
  font-size: 0.75rem !important;
}

/* Additional */
.profile {
  margin-left: 3rem;
  width: 9.1875rem;
  height: 2.6875rem;
  padding: 1.6px;
  background-color: var(--secondary);
  justify-content: space-between;
  border-radius: 1.3125rem;
  border: 0.0625rem solid var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font: normal normal normal 1.25rem/0.75rem AtlasPro AAA;
  letter-spacing: 0.0163rem;
  color: #ffffff;
}

.profile p {
  margin-right: 0.5rem;
}

.fa {
  color: var(--secondary);
  font-size: 1.4375rem;
}
