/* Extra Small Devices (phones) */
@media only screen and (max-width: 30rem) {
  div.panel {
    min-width: 21.375rem !important;
  }

  .panel-faceleft .panel-bullets-div {
    padding: 0.5rem 0 0.5rem 0rem;
    margin-bottom: 0;
  }

  .panel-faceleft .d-flex.col.d-end {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }

  .right-sidebar-logo {
    display: none;
  }

  .panel-faceleft .pdf-text-div {
    margin-top: 0.5rem;
  }

  .desktop-cc {
    display: none;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .p-uploadBtn-div>p.mobile {
    font-size: 1rem;
    font-weight: 300;
    color: #D0D0D0;
    padding-right: 0.625rem;
  }

  .first-card .btn-primary-outline {
    padding: 0.625rem 0.75rem !important;
  }

  .p-2 .d-flex.row {
    margin: 0.625rem 0 !important;
    margin-right: 0.5625rem !important;
  }

  .panel .heading {
    padding-left: 2.5rem;
    line-height: 1.5625rem;
  }

  .accordion {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.25rem 0.625rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .accordion .accordion-icon,
  .accordion svg#Expand_Item {
    display: none;
  }

  .accordion .markup-text {
    text-align: center;
    margin-top: 0.3125rem;
    width: 2.875rem;
    font-size: 0.875rem;
  }

  .accordion .markup-icon {
    height: 0.875rem;
    width: 0.875rem;
  }

  .accordion-title {
    font-size: 0.875rem;
    letter-spacing: 0rem;
  }

  .mobile-btn-acc {
    width: 100%;
    height: 1.3125rem;
    background: #ededed 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-btn-acc svg#roll_up {
    display: none;
  }

  .mobile-btn-acc svg {
    width: 0.625rem;
    height: 0.625rem;
  }

  .third-section {
    height: auto !important;
    margin: 2rem 1.875rem 4rem 1.875rem !important;
  }

  #s-fourth {
    margin: 0 2.1875rem 1.875rem 0 !important;
  }

  .card-footer-wrapper .f-left,
  .card .f-left {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }

  .third-section .f-left {
    padding: 1.25rem 0;
  }

  .card-footer-wrapper .f-right,
  .card .f-right {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }

  .third-section .f-left p {
    font-size: 1rem;
    margin-right: 0;
    padding: 0.9375rem 1.875rem;
  }

  .third-section .f-right img {
    width: 3.1875rem;
  }

  .panel-facewrapper {
    flex-direction: column !important;
  }

  .panel-facewrapper .panel-faceleft,
  .panel-faceright {
    width: 100%;
  }

  .nav-right .search-d1 {
    display: none !important;
  }

  .nav-right .search-d3 {
    width: 3.25rem;
    padding: 0.625rem;
  }

  .nav-right .search-d2 {
    margin-right: 4.875rem;
  }

  .nav-right .search-d2 img {
    width: 7.1875rem;
  }

  .app-nav {
    height: 3.25rem !important;
  }

  .app-nav .profile {
    display: none;
  }

  .app-nav .mobile-profile {
    display: block;
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 1.25rem;
  }

  .app-nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-center {
    top: 2.4rem;
  }

  .inner-h {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .f-med {
    font-size: 1.25rem;
  }

  .first-card {
    margin: 1.875rem 1.875rem 0 1.875rem !important;
    padding: 1.25rem 0.75rem;
  }

  .first-card h3 {
    font-size: 1.25rem;
    padding-right: 0.3125rem;
  }

  #content-wrapper {
    padding: 1.875rem !important;
    margin-top: 0;
  }

  .accordion-holder {
    margin-top: 1.25rem;
  }

  .accordion .f-med {
    font-size: 1.125rem !important;
  }

  .accordion .d-flex.row.d-right.align-center.mt-1 {
    margin-top: 0.3125rem !important;
  }

  .accordion .d-flex>.mt-1 {
    margin-top: 0.375rem;
  }

  .bottom-card {
    flex-direction: column;
    padding: 4.35rem 1.25rem 6.875rem 1.25rem;
    background-size: inherit !important;
  }

  .footer-form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-form {
    width: 95%;
    padding: 1.25rem;
  }

  .footer-form h2 {
    font-size: 2rem;
}

.footer-form .d-flex span {
  display: none !important;
}

.footer-form .d-flex.mb-2 {
  margin: 6px !important;
}

.footer-form button {
  margin-top: 0.75rem;
}

  footer input {
    font-size: 1rem;
  }

  .custom-input::placeholder {
    font-weight: bold !important;
    opacity: 1;
    color: #256693;
  }

  .custom-textarea::placeholder {
    font-weight: bold !important;
    opacity: 1;
    color: #256693;
  }

  .footer-contact {
    width: 100%;
    padding: 0 1.25rem;
  }

  .footer-contact>p:first-of-type {
    width: 100%;
    padding: 1.25rem 0;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }

  .footer-contact .shadowed {
    padding: 0.125rem 0.625rem;
    box-shadow: 0rem 0.1875rem 0.375rem #00000029;
    border: 0.0625rem solid #ffffff;
    border-radius: 0.8125rem;
  }

  .mobile-footer {
    display: block;
    margin: 1.875rem 0;
  }

  .mobile-footer ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 1.5625rem 0;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }

  .mobile-footer ul li {
    list-style-type: none;
    text-align: center;
    padding: 0.3125rem 0.625rem;
  }

  .copy-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    padding-top: 1.25rem;
  }

  .copy-cc .d-flex {
    gap: 0.5rem;
  }

  .copy-cc p {
    text-align: center;
    color: rgba(255, 255, 255, 0.52);
    font-size: 0.8125rem !important;
  }

  .inner-left {
    font-size: 0.75rem;
  }

  .accordion .inner-left {
    padding: 0.1875rem 0.375rem 0.1875rem 0;
    margin-right: 0.25rem;
  }

  .accordion .span3 {
    padding-right: 0.1875rem;
    margin-right: 0;
  }

  .inner-left span {
    font-size: 0.875rem;
  }

  .inner-left span.text-primary {
    font-size: 0.75rem;
  }

  #mobile-bottom-tab {
    display: block;
  }

  .dotten-div,
  .dotten-div2 {
    height: 8.75rem;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 8.75rem;
  }

  .info-img-wrapper {
    min-height: 37.5rem;
    margin-bottom: 0 !important;
  }

  .c-container {
    width: 100%;
  }

  .dotten-div,
  .dotten-div2 {
    display: none !important;
  }

  .c-container svg#Group_91088 {
    display: block !important;
    margin-left: -0.625rem;
  }

  .circle-wrapper .ci {
    width: 9.75rem;
    height: 9.75rem;
    margin-bottom: 1.25rem !important;
  }

  .circle-wrapper .ci-inner {
    width: 9.1875rem;
    height: 9.1875rem;
  }

  .ci-inner-top {
    border-radius: 50%;
    background: var(--primary);
    height: 2.0625rem;
    width: 2.0625rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.625rem;
  }

  .ci-inner-bottom {
    font-size: 0.875rem;
    letter-spacing: 0rem;
    padding: 0.125rem;
    width: 7.8125rem;
    margin: auto;
    line-height: 1.125rem;
  }

  .ci-inner-bottom>span {

    text-align: center;
  }

  .ci-innter-center {
    height: 0.3125rem;
  }

  .plane-img {
    left: 5rem !important;
    bottom: -1.375rem !important;
  }

  .card-footer-wrapper {
    margin-top: 6.25rem;
  }

  .card-footer-wrapper .f-right {
    align-items: start;
    padding: 2.1875rem 0.625rem;
  }

  .card-footer-wrapper .f-right img {
    width: 3.1875rem;
  }

  .card-footer-wrapper .f-bullets {
    flex-wrap: wrap;
    font-size: 1rem !important;
    padding: 0.625rem 0;
  }

  .card-footer-wrapper .f-bullets img {
    width: 0.75rem;
    margin: 0 !important;
  }

  .card-footer-wrapper .f-left p {
    padding: 0.625rem 0;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
    font-size: 0.875rem !important;
  }

  .card-footer-wrapper .f-left {
    padding: 1.5625rem 0.75rem;
  }

  .card-footer-wrapper .f-btn {
    padding: 0.25rem 1.125rem !important;
    margin-top: 1.75rem;
    margin-bottom: 0.375rem;
    font-size: 0.875rem;
    border-radius: 1.0625rem;
  }

  .p-upload {
    flex-wrap: wrap;
    margin-bottom: 5rem;
    height: auto !important;
  }

  .p-upload button {
    margin-right: 0;
    margin-top: 1.25rem;
    width: 10rem;
    padding: 0.5rem 0;
  }

  .p-uploadBtn-div {
    width: 100%;
  }

  .p-upload p {
    font-size: 0.625rem;
    color: #d0d0d0;
  }

  hr.mb-2 {
    margin-bottom: 0.95rem;
  }

  .p-2 .text-secondary.mb-2 {
    margin-right: 0.625rem;
  }

  .p-2 .text-secondary.mb-2 {
    margin-right: 0;
    padding-left: 5.625rem;
  }

  .accordion-holder .p-2 .text-secondary.mb-2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 20rem) {
  .nav-right .search-d2 {
    margin-right: 2.625rem;
  }

  .circle-wrapper .ci {
    width: 7.1875rem;
    height: 7.1875rem;
    margin-bottom: 0.3125rem;
  }

  .circle-wrapper .ci-inner {
    width: 6.5625rem;
    height: 6.5625rem;
    padding: 0.3125rem;
  }

  .info-img-wrapper {
    min-height: 27.1875rem;
  }

  .ci-inner-bottom {
    font-size: 0.5rem;
    padding: 0.3125rem;
  }
}

/* Small Devices (tablets and larger phones) */
@media only screen and (min-width: 30.0625rem) and (max-width: 48rem) {
  .app-nav .profile {
    display: none;
  }

  .app-nav .mobile-profile {
    display: block;
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 1.25rem;
  }

  .right-sidebar-logo {
    display: none;
  }

  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 41.875rem;
    margin-bottom: 0 !important;
  }

  .bottom-card {
    flex-direction: column;
    padding: 3.125rem 1.25rem 6.875rem 1.25rem;
    background-size: inherit !important;
  }

  .footer-form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-form {
    width: 95%;
    padding: 1.25rem;
  }

  .footer-form .d-flex span {
    display: none !important;
  }

  .custom-input::placeholder {
    font-weight: bold !important;
    opacity: 1;
    color: #256693;
  }

  .footer-contact {
    width: 100%;
    padding: 0 10%;
  }

  .footer-contact>p:first-of-type {
    width: 100%;
    padding: 1.25rem 0;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }

  .footer-contact .shadowed {
    padding: 0.125rem 0.625rem;
    box-shadow: 0rem 0.1875rem 0.375rem #00000029;
    border: 0.0625rem solid #ffffff;
    border-radius: 0.8125rem;
  }

  .desktop-cc {
    display: none;
  }

  .mobile-footer {
    display: block;
    margin: 1.875rem 0;
  }

  .mobile-footer ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 1.5625rem 0;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  }

  .mobile-footer ul li {
    list-style-type: none;
    text-align: center;
    padding: 0.3125rem 0.625rem;
  }

  .copy-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    padding-top: 1.25rem;
  }

  .copy-cc .d-flex {
    gap: 0.5rem;
  }

  .copy-cc p {
    text-align: center;
    color: rgba(255, 255, 255, 0.52);
    font-size: 0.8125rem !important;
  }
}

/* Medium Devices (tablets landscape, small laptops) */
@media only screen and (min-width: 48.0625rem) and (max-width: 64rem) {
  .right-sidebar-logo {
    display: none;
  }

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 31.25rem;
  }

  .dotten-div,
  .dotten-div2 {
    height: 10.3125rem;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 10.3125rem;
  }

  .right-sidebar {
    padding: 1.25rem;
  }

  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }

  .right-sidebar-wrapper {
    padding: 1.25rem 1.25rem 1.25rem 1.875rem;
  }
}

@media only screen and (max-width: 63.9375rem) {
  .body-center {
    width: 100%;
    left: 0;
  }

  .body-center .mobile-top-bg {
    display: block;
    margin-top: 0.4rem;
  }

  #content-wrapper {
    border: none;
  }

  .first-card {
    margin: 1.25rem;
  }

  .inner-h,
  .hyper-links,
  #s-fourth {
    margin-right: 1.25rem;
  }

  .third-section {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }
}

@media only screen and (min-width: 64rem) {
  .right-sidebar {
    display: flex;
    justify-content: start;
  }

  .left-sidebar {
    display: flex;
  }
}

@media only screen and (min-width: 64.0625rem) and (max-width: 75.125rem) {

  .dotten-div,
  .dotten-div2 {
    display: none !important;
  }

  .c-container svg#Group_91088 {
    display: block !important;
    margin-left: -0.625rem;
  }

  .circle-wrapper .ci {
    width: 9.75rem;
    height: 9.75rem;
    margin-bottom: 1.25rem !important;
  }

  .circle-wrapper .ci-inner {
    width: 9.1875rem;
    height: 9.1875rem;
  }

  .plane-img {
    left: 5rem !important;
    bottom: -1.125rem !important;
  }

  .dotten-div,
  .dotten-div2 {
    height: 10.3125rem;
  }

  .p-uploadBtn-div {
    width: 100%;
  }
}

/* Large Devices (laptops and desktops) */
@media only screen and (min-width: 64.0625rem) and (max-width: 89.9375rem) {

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 23.4375rem;
  }
}

/* Extra Large Devices (large laptops and desktops) */
@media only screen and (max-width: 92.375rem) {
  .circle-wrapper .ci {
    margin-bottom: 1.25rem;
  }

  .dotten-div,
  .dotten-div2 {
    height: 12.5rem;
  }
}