/* Extra Small Devices (phones) */
@media only screen and (max-width: 480px) {
  div.panel {
    min-width: 342px !important;
  }

  .right-sidebar-logo {
    display: none;
  }

  .desktop-cc {
    display: none;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .p-uploadBtn-div>p.mobile {
    font-size: 16px;
    font-weight: 300;
    color: #D0D0D0;
  }

  .first-card .btn-primary-outline {
    padding: 10px 12px !important;
  }

  .p-2 .d-flex.row {
    margin: 10px 0 !important;
    margin-right: 9px !important;
  }

  .panel .heading {
    padding-left: 40px;
    line-height: 25px;
  }

  .accordion {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .accordion .accordion-icon,
  .accordion svg#Expand_Item {
    display: none;
  }

  .accordion .markup-text {
    text-align: center;
    margin-top: 5px;
    width: 46px;
    font-size: 14px;
  }

  .accordion .markup-icon {
    height: 14px;
    width: 14px;
  }

  .accordion-title {
    font-size: 14px;
    letter-spacing: 0px;
  }

  .mobile-btn-acc {
    width: 100%;
    height: 21px;
    background: #ededed 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-btn-acc svg#roll_up {
    display: none;
  }

  .mobile-btn-acc svg {
    width: 10px;
    height: 10px;
  }

  .third-section {
    height: auto !important;
    margin: 0 30px 20px 30px !important;
  }

  #s-fourth {
    margin: 0 35px 30px 0 !important;
  }

  .card-footer-wrapper .f-left,
  .card .f-left {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .third-section .f-left {
    padding: 20px 0;
  }

  .card-footer-wrapper .f-right,
  .card .f-right {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .third-section .f-left p {
    font-size: 16px;
    margin-right: 0;
    padding: 15px 30px;
  }

  .third-section .f-right img {
    width: 51px;
  }

  .panel-facewrapper {
    flex-direction: column !important;
  }

  .panel-facewrapper .panel-faceleft,
  .panel-faceright {
    width: 100%;
  }

  .nav-right .search-d1 {
    display: none !important;
  }

  .nav-right .search-d3 {
    width: 52px;
    padding: 10px;
  }

  .nav-right .search-d2 {
    margin-right: 78px;
  }

  .nav-right .search-d2 img {
    width: 115px;
  }

  .app-nav {
    height: 52px !important;
  }

  .app-nav .profile {
    display: none;
  }

  .app-nav .mobile-profile {
    display: block;
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .app-nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-center {
    top: 40px;
  }

  .inner-h {
    font-size: 30px;
    margin-top: 0;
  }

  .f-med {
    font-size: 20px;
  }

  .first-card {
    margin: 30px 30px 0 30px !important;
    padding: 20px 12px;
  }

  #content-wrapper {
    padding: 30px !important;
    margin-top: 0;
  }

  .accordion-holder {
    margin-top: 20px;
  }

  .accordion .f-med {
    font-size: 18px !important;
  }

  .accordion .d-flex.row.d-right.align-center.mt-1 {
    margin-top: 5px !important;
  }

  .accordion .d-flex>.mt-1 {
    margin-top: 6px;
  }

  .bottom-card {
    flex-direction: column;
    padding: 50px 20px 110px 20px;
    background-size: inherit !important;
  }

  .footer-form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-form {
    width: 95%;
    padding: 20px;
  }

  .footer-form .d-flex span {
    display: none !important;
  }

  .custom-input::placeholder {
    font-weight: bold !important;
    opacity: 1;
    color: #256693;
  }

  .footer-contact {
    width: 100%;
    padding: 0 20px;
  }

  .footer-contact>p:first-of-type {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .footer-contact .shadowed {
    padding: 2px 10px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #ffffff;
    border-radius: 13px;
  }

  .mobile-footer {
    display: block;
    margin: 30px 0;
  }

  .mobile-footer ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .mobile-footer ul li {
    list-style-type: none;
    text-align: center;
    padding: 5px 10px;
  }

  .copy-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 20px;
  }

  .copy-cc .d-flex {
    gap: 8px;
  }

  .copy-cc p {
    text-align: center;
    color: rgba(255, 255, 255, 0.52);
    font-size: 13px !important;
  }

  .inner-left {
    font-size: 12px;
  }

  .accordion .inner-left {
    padding: 3px 6px 3px 0;
    margin-right: 4px;
  }

  .accordion .span3 {
    padding-right: 3px;
    margin-right: 0;
  }

  .inner-left span {
    font-size: 14px;
  }

  .inner-left span.text-primary {
    font-size: 12px;
  }

  #mobile-bottom-tab {
    display: block;
  }

  .dotten-div,
  .dotten-div2 {
    height: 140px;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 140px;
  }

  .info-img-wrapper {
    min-height: 600px;
    margin-bottom: 0 !important;
  }

  .c-container {
    width: 100%;
  }

  .dotten-div,
  .dotten-div2 {
    display: none !important;
  }

  .c-container svg#Group_91088 {
    display: block !important;
    margin-left: -10px;
  }

  .circle-wrapper .ci {
    width: 156px;
    height: 156px;
    margin-bottom: 20px !important;
  }

  .circle-wrapper .ci-inner {
    width: 147px;
    height: 147px;
  }

  .ci-inner-top {
    border-radius: 50%;
    background: var(--primary);
    height: 33px;
    width: 33px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .ci-inner-bottom {
    font-size: 14px;
    letter-spacing: 0px;
    padding: 5px;
    width: 125px;
    margin: auto;
  }

  .ci-innter-center {
    height: 5px;
  }

  .plane-img {
    left: 80px !important;
    bottom: -22px !important;
  }

  .card-footer-wrapper {
    margin-top: 100px;
  }

  .card-footer-wrapper .f-right {
    align-items: start;
    padding: 35px 10px;
  }

  .card-footer-wrapper .f-right img {
    width: 51px;
  }

  .card-footer-wrapper .f-bullets {
    flex-wrap: wrap;
    font-size: 16px !important;
    padding: 10px 0;
  }

  .card-footer-wrapper .f-bullets img {
    width: 12px;
    margin: 0 !important;
  }

  .card-footer-wrapper .f-left p {
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px !important;
  }

  .card-footer-wrapper .f-left {
    padding: 25px 12px;
  }

  .card-footer-wrapper .f-btn {
    padding: 4px 18px !important;
    margin-top: 28px;
    margin-bottom: 6px;
    font-size: 14px;
    border-radius: 17px;
  }

  .p-upload {
    flex-wrap: wrap;
    margin-bottom: 80px;
    height: auto !important;
  }

  .p-upload button {
    margin-right: 0;
    margin-top: 20px;
    width: 167px;
  }

  .p-uploadBtn-div {
    width: 100%;
  }

  .p-upload p {
    font-size: 10px;
    color: #d0d0d0;
  }

  .p-2 .text-secondary.mb-2 {
    margin-right: 10px;
  }

  .p-2 .text-secondary.mb-2 {
    margin-right: 10px;
    padding-left: 90px;
  }
}

@media screen and (max-width: 320px) {
  .nav-right .search-d2 {
    margin-right: 42px;
  }

  .circle-wrapper .ci {
    width: 115px;
    height: 115px;
    margin-bottom: 5px;
  }

  .circle-wrapper .ci-inner {
    width: 105px;
    height: 105px;
    padding: 5px;
  }

  .info-img-wrapper {
    min-height: 435px;
  }

  .ci-inner-bottom {
    font-size: 8px;
    padding: 5px;
  }
}

/* Small Devices (tablets and larger phones) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .app-nav .profile {
    display: none;
  }

  .app-nav .mobile-profile {
    display: block;
    height: 26px;
    width: 26px;
    margin-left: 20px;
  }

  .right-sidebar-logo {
    display: none;
  }

  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 670px;
    margin-bottom: 0 !important;
  }

  .bottom-card {
    flex-direction: column;
    padding: 50px 20px 110px 20px;
    background-size: inherit !important;
  }

  .footer-form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .footer-form {
    width: 95%;
    padding: 20px;
  }

  .footer-form .d-flex span {
    display: none !important;
  }

  .custom-input::placeholder {
    font-weight: bold !important;
    opacity: 1;
    color: #256693;
  }

  .footer-contact {
    width: 100%;
    padding: 0 10%;
  }

  .footer-contact>p:first-of-type {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .footer-contact .shadowed {
    padding: 2px 10px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #ffffff;
    border-radius: 13px;
  }

  .desktop-cc {
    display: none;
  }

  .mobile-footer {
    display: block;
    margin: 30px 0;
  }

  .mobile-footer ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .mobile-footer ul li {
    list-style-type: none;
    text-align: center;
    padding: 5px 10px;
  }

  .copy-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-top: 20px;
  }

  .copy-cc .d-flex {
    gap: 8px;
  }

  .copy-cc p {
    text-align: center;
    color: rgba(255, 255, 255, 0.52);
    font-size: 13px !important;
  }
}

/* Medium Devices (tablets landscape, small laptops) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .right-sidebar-logo {
    display: none;
  }

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 500px;
  }

  .dotten-div,
  .dotten-div2 {
    height: 165px;
  }

  .info-img-wrapper-2 .dotten-div,
  .info-img-wrapper-2 .dotten-div2 {
    height: 165px;
  }

  .right-sidebar {
    padding: 20px;
  }

  .footer-form {
    width: 70%;
  }

  .footer-contact {
    width: 35%;
  }

  .right-sidebar-wrapper {
    padding: 20px 20px 20px 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .body-center {
    width: 100%;
    left: 0;
  }

  .body-center .mobile-top-bg {
    display: block;
  }

  #content-wrapper {
    border: none;
  }

  .first-card {
    margin: 20px;
  }

  .inner-h,
  .hyper-links,
  #s-fourth {
    margin-right: 20px;
  }

  .third-section {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .right-sidebar {
    display: flex;
    justify-content: start;
  }

  .left-sidebar {
    display: flex;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1202px) {

  .dotten-div,
  .dotten-div2 {
    display: none !important;
  }

  .c-container svg#Group_91088 {
    display: block !important;
    margin-left: -10px;
  }

  .circle-wrapper .ci {
    width: 156px;
    height: 156px;
    margin-bottom: 20px !important;
  }

  .circle-wrapper .ci-inner {
    width: 147px;
    height: 147px;
  }

  .plane-img {
    left: 80px !important;
    bottom: -18px !important;
  }

  .dotten-div,
  .dotten-div2 {
    height: 165px;
  }

  .p-uploadBtn-div {
    width: 100%;
  }
}

/* Large Devices (laptops and desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1439px) {

  .info-img-wrapper,
  .info-img-wrapper-2 {
    min-height: 375px;
  }
}

/* Extra Large Devices (large laptops and desktops) */
@media only screen and (max-width: 1478px) {
  .circle-wrapper .ci {
    margin-bottom: 20px;
  }

  .dotten-div,
  .dotten-div2 {
    height: 200px;
  }
}